.about-section {
    padding-top: 70px;
    width: 100%;

    &__wrapper {
        width: 100%;
        padding: 0 15px;
    }

    &__company {
        margin: 32px 0;
        padding-top: 228px;
        background-image: url('../img/company-mobile.png');
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: 345px 183px;

        @media (min-resolution: 1.5dppx) {
            background-image: url('../img/company-mobile@2x.png');
        }
        
        & .orange:first-child {
            position: relative;
            padding-left: 35px;

            &::before {
                position: absolute;
                content: "";
                width: 24px;
                height: 1px;
                top: 12px;
                left: 4px;
                background-color: #FF7800;
            }
        }
    }
}

@media (min-width: 768px) {
    .about-section {
        &__company {
            padding-top: 250px;
            background-image: url('../img/maket.png'), url('../img/company.png');
            background-repeat: no-repeat;
            background-position: 25% 10%, center 0;
            background-size: 195px 220px, 345px 183px;
        }
    }
}

@media (min-width: 1600px) {
    .about-section {
        width: 100%;
        padding-top: 0;
        background-image: linear-gradient(#FDF9F3 0, #FDF9F3 444px, white 444px, white 100%);
        
        &__wrapper {
            max-width: 1600px;
            margin: 0 auto;
            padding: 0 100px;
            display: flex;
            flex-wrap: wrap;

            background-image: url('../img/maket.png'), url('../img/company.png');
            background-repeat: no-repeat;
            background-position: 100px 223px, right 100px top 123px;
        }

        &__title {
            margin-bottom: 760px;
            width: 100%;
        }

        &__company {
            background-image: none;
            max-width: 580px;
            padding-top: 0;
            font-weight: 500;
            font-size: 26px;
            line-height: 36px;
            margin-top: 130px;

            & .orange:first-child {
    
                &::before {
                    top: 16px;
                }
            }
        }
    }
}