.button-blue {
    border: none;
    margin: 0;
    padding: 19px 47px;
    background-color: #3029DB;
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
}