.confidence-policy {
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #BDBDBD;

    &__link {
        border-bottom: 1px solid rgba(48, 41, 219, 0.3);

        &:hover,
        &:focus {
            color: #FF7800;
        }

        &:active {
            color: #CCBFB6;
        }
    }
}

@media (min-width: 1600px) {
    .confidence-policy {
        width: 220px;
        display: inline-block;
        padding-left: 20px;
    }
}