.contact-popup {
    display: none;
    width: 100%;

    &::before {
        position: absolute;
        content: "Базис-КР";
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 600;
        font-size: 144px;
        line-height: 172px;
        letter-spacing: -2px;
        text-transform: uppercase;
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(48, 48, 48, 0.2);
        white-space: nowrap;
        display: block;
        top: 100px;
        left: -10px;
        width: 100%;
        overflow: hidden;
        z-index: -1;
    }

    &--shown {
        display: block;
    }

    &__wrapper {
        width: 100%;
        padding: 15px;
        padding-top: 50px;
    }

    &__title {
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #303030;
        margin-bottom: 70px;
    }


}

@media (min-width: 1600px) {
    .contact-popup {
        &::before {
            width: 88vw;
            font-weight: 600;
            font-size: 340px;
            line-height: 406px;
            height: 563px;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            line-height: 350px;
            overflow: hidden;
        }
        
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            max-width: 1600px;
            margin: 0 auto;
            padding: 0 100px;
            padding-top: 100px;
            padding-bottom: 200px;
        }

        &__title {
            width: 100%;
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            text-transform: uppercase;
        }

        &__contact-form {
            width: 820px;
            padding-top: 30px;
        }
    }
}