.contact-form {
    width: 100%;

    &__legend {
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #828282;
        margin: 0;
        margin-bottom: 25px;

        &--form-page {
            display: none;
        }
    }

    &__legend-bold {
        display: block;
        font-family: SF Pro Display, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        color: #303030;
    }

    &__input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
        padding: 8px 35px;
        margin-bottom: 26px;
        color: rgba(48, 48, 48, 1);
        outline: none;

        &::placeholder {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #828282;
        }

        &:last-of-type {
            margin-bottom: 40px;
        }

        &:focus,
        &:hover {
            border-bottom: 1px solid #FF7800;
        }
    }
}

@media (min-width: 1600px) {
    .contact-form {
        &__legend {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 42px;
        }

        &__legend-bold {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #303030;
            margin-top: 10px;
        }

        &__input {
            padding-left: 80px;
            
            &:last-of-type {
                margin-bottom: 50px;
            }
        }

    }
}