.footer {
    background-color: #313131;
    padding-top: 50px;

    &__logo {
        padding: 0 15px;
    }

    &__logo-text {
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 58px;
        text-transform: uppercase;
        margin: 0;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #828282;
        color: transparent;
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 0;
        display: flex;

        &__logo {
            padding-top: 40px;
            width: 50%;
        }

        &__contacts {
            width: 50%;
        }
    }
}

@media (min-width: 1600px) {
    .footer {
        padding-left: 100px;
        padding-right: 100px;
        &__logo-text {
            font-weight: 600;
            font-size: 139px;
            line-height: 90%;
            margin-top: 12px;
        }

        & .owner-info {
            max-width: 350px;
            margin: 0;
            margin-left: auto;
        }
    }
}