.header {
    width: 100%;

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 15px;
        flex-wrap: wrap;
        border-bottom: 1px solid #C4C4C4;
    }

    &__menu-button {
        @include button-reset;

        background-color: #2B25CF;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menu-icn {
        &--hidden {
            display: none;
        }
    }
}


@media (min-width: 768px) {
    .header {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__menu-button {
            display: none;
        }
    }
}

@media (min-width: 1024px) {
    .header {
        border-bottom: 1px solid #C4C4C4;

        &__wrapper {
            max-width: 1600px;
            padding: 0 6.25%;
            padding-right: 0;
            margin: 0 auto;
            border-bottom: none;
        }
    }
}