.important-section {
    width: 100%;

    &__wrapper {
        padding: 0 15px;
        padding-top: 32px;
        padding-bottom: 70px;
    }

    &__title {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: none;
        color: #303030;
    }

    &__text {
        margin: 0;
        margin-bottom: 28px;
        padding-left: 35px;
        padding-top: 68px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 81 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.15' d='M25.5645 1.70578L25.2822 1.31792L24.883 1.58389C17.9027 6.23421 12.0986 12.8144 7.46403 21.3054C2.83518 29.7858 0.5 37.661 0.5 44.9222C0.5 51.8857 2.04757 57.2588 5.22242 60.9603C8.38868 64.6517 12.4919 66.5 17.4903 66.5C21.9516 66.5 25.6598 65.0539 28.5739 62.1458C31.7449 59.2372 33.3301 55.5267 33.3301 51.0539C33.3301 46.5818 31.7461 42.7525 28.5893 39.5942C25.7765 36.5317 22.2144 34.9496 17.9388 34.8467C17.5757 31.0256 18.6978 26.9392 21.3683 22.5722C24.1517 18.0207 27.5658 14.104 31.6113 10.8193L31.9795 10.5204L31.7004 10.1369L25.5645 1.70578ZM72.7344 1.70578L72.4521 1.31792L72.0529 1.58389C65.0726 6.23421 59.2685 12.8144 54.6339 21.3054C50.0051 29.7858 47.6699 37.661 47.6699 44.9222C47.6699 51.8857 49.2175 57.2588 52.3923 60.9603C55.5586 64.6517 59.6618 66.5 64.6602 66.5C69.1215 66.5 72.8297 65.0539 75.7438 62.1458C78.9148 59.2372 80.5 55.5267 80.5 51.0539C80.5 46.5818 78.916 42.7525 75.7592 39.5942C72.9464 36.5317 69.3843 34.9496 65.1087 34.8467C64.7456 31.0256 65.8677 26.9392 68.5382 22.5722C71.3216 18.0207 74.7357 14.104 78.7812 10.8193L79.1493 10.5204L78.8703 10.1369L72.7344 1.70578Z' stroke='%23303030'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            width: 81px;
            height: 67px;
            top: 45px;
            left: 0;
            z-index: -1;
        }
    }
}

@media (min-width: 1480px) {
    .important-section {
        &__wrapper {
            max-width: 1600px;
            margin: 0 auto;
            padding-left: 100px;
            padding-right: 100px;
        }

        &__title {
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
        }

        &__text {
            max-width: 820px;
            margin-left: auto;
            font-weight: normal;
            font-size: 26px;
            line-height: 140%;

            & .orange {
                font-style: italic;
                font-size: 26px;
            }


        }
    }
}