.nav {
    width: 100%;
    display: none;
    padding-bottom: 21px;
    position: relative;

    &--visible {
        display: block;
    }

    &__list {
        @include list-reset;

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 85px;
    }

    &__item {
        text-align: center;
        margin-bottom: 55px;
    }

    &__link {
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #000;

        &--language {
            border: none;
            background-color: #FEFDF9;
        }
    }
}

@media (min-width: 768px) {
    .nav {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
        width: 75%;
        padding: 0;

        &__list {
            padding: 0;
            flex-direction: row;
            justify-content: space-between;
            max-width: 369px;
            margin-left: auto;
        }

        &__item {
            margin-bottom: 0;
        }

        &__link {
            text-transform: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            &:hover {
                color: #403DE4;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 8px;
                    background-color: #403DE4;
                    bottom: -12px;
                    left: 50%;
                }
            }
        }
    }
}

@media (min-width: 1014px) {
    .nav {
        &__list {
            align-items: center;
            width: 100%;
            max-width: unset;
            padding-left: calc(100% - 350px);
        }
    }
}

@media (min-width: 1024px) {
    .nav {
        padding-right: 25px;

        & .owner-info {
            margin-top: 13px;
        }

        &__list {
            align-items: center;
            width: 100%;
            max-width: unset;
        }
    }
}

@media (min-width: 1363px) {
    .nav {
        &__list {
            align-items: center;
        }
    }
}

@media (min-width: 1480px) {
    .nav {
        &__list {
            align-items: center;
            width: 370px;
            padding: 0;
            padding-right: 20px;
        }
    }
}