.ready-section {
    width: 100%;
    background: #FDF9F3;
    padding-bottom: 70px;

    &__wrapper {
        width: 100%;
        padding: 0 15px;
        padding-top: 70px;
    }

    &__list {
        @include list-reset;

        width: 100%;
        padding-top: 40px;
    }

    &__item {
        margin-bottom: 79px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            bottom: -40px;
            width: 100%;
            height: 1px;
            background-color: #c4c4c4;
        }

        &:last-child {
            margin: 0;

            &::after {
                width: 1px;
                height: 1px;
                background-color: transparent;
            }
        }
    }
}

@media (min-width: 1480px) {
    .ready-section {
        width: 100%;
        max-width: unset;
        padding-bottom: 200px;

        &__wrapper {
            max-width: 1600px;
            margin: 0 auto;
            padding-left: 100px;
            padding-right: 100px;

        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
        }

        &__item {
            &:last-child {
                margin: 0;

                &:nth-child(odd) {
                    margin-right: auto;
                    margin-left: 59px;
                }

                &::after {
                    width: 100%;
                    height: 1px;
                    background-color: #c4c4c4;
                }
            }
        }
    }
}