.results {
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #303030;

    &__paragraph {
        margin: 20px 0;
    }

    &__list {
        @include list-reset;
    }

    &__item {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        border-top: 1px solid #c4c4c4;
        padding-top: 15px;
        padding-bottom: 40px;
        
        &:last-child {
            padding-bottom: 78px;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 100vw;
                height: 1px;
                bottom: 0;
                background-color: #c4c4c4;
                left: calc(-100vw / 2 + 50%);
            }
        }
    }

    &__number {
        font-weight: 500;
        font-size: 64px;
        line-height: 76px;
        padding-right: 15px;
        color: #000000;
    }
}

@media (min-width: 768px) {
    .results {
        display: flex;
        justify-content: space-between;

        &__text {
            width: 45%;
        }

        &__list {
            width: 45%;
        }
    }
}

@media (min-width: 1600px) {
    .results {
        flex-direction: column;
        max-width: 50%;
        width: 700px;
        margin-left: auto;

        &__text {
            width: 100%;
        }

        &__list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item {
            width: 50%;
            &:last-child {
    
                &::after {
                    width: 0;
                    height: 0;
                    bottom: 0;
                    left: unset;
                }
            }
        }
    }
}