.reviews-section {
    padding-top: 70px;
    padding-bottom: 70px;

    &__title {
        margin-left: 15px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1600px) {
    .reviews-section {
        &__wrapper {
            max-width: 1600px;
            margin: 0 auto;
            padding: 100px;
        }
    }
}