.tab {
    width: 100%;
    padding-top: 210px;
    padding-left: 20px;

    &:nth-child(1) {
        background-image: url("../img/town-mobile.jpg"), url("../img/town-mobile2.jpg");
        background-repeat: no-repeat;
        background-position: left 27px, right 27px;
    }

    &:nth-child(2) {
        background-image: url("../img/scale-mobile.jpg"), url("../img/tap-mobile.jpg");
        background-repeat: no-repeat;
        background-position: 0 27px, 193px 27px;
        background-size: 188px 162px;

        @media (min-resolution: 1.5dppx) {
            background-image: url("../img/scale-mobile@2x.jpg"), url("../img/tap-mobile@2x-1.jpg");

        }
    }

    &:nth-child(3) {
        background-image: url("../img/safe-mobile.jpg");
        background-repeat: no-repeat;
        background-position: center 27px;
    }

    &__features-list {
        @include list-reset;

        width: 100%;
    }

    &__features-item {
        margin-bottom: 35px;
        position: relative;

        &::before {
            position: absolute;
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            color: #C4C4C4;
            top: -10px;
            left: -18px;
        }

        // &:nth-child(1)::before {
        //     content: "01";
        // }
        // &:nth-child(2)::before {
        //     content: "02";
        // }
        // &:nth-child(3)::before {
        //     content: "03";
        // }
        // &:nth-child(4)::before {
        //     content: "04";
        // }
        // &:nth-child(5)::before {
        //     content: "05";
        // }
        // &:nth-child(6)::before {
        //     content: "06";
        // }
        // &:nth-child(7)::before {
        //     content: "07";
        // }
    }

    &__item-title {
        margin: 0;
        margin-bottom: 12px;
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #303030;
    }

    &__item-description {
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #303030;
        margin: 0;
    }
}

@media (min-width: 500px) {
    .tab {

        &:nth-child(1),
        &:nth-child(2) {
            background-position: 20% 27px, 85% 27px;
        }
    }
}

@media (min-width: 768px) {
    .tab {
        padding-top: 300px;

        &:nth-child(1) {
            background-image: url("../img/town.jpg"), url("../img/town2.jpg");
            background-position: 6% 27px, 94% 27px;
            background-size: 400px, 300px;
        }

        &:nth-child(2) {
            background-image: url("../img/tap.png"), url("../img/scale.png");
            background-position: 15% 15px, 79% 17px;
            background-size: 300px, 300px;
        }

        &:nth-child(3) {
            background-image: url("../img/safe.jpg");
        }
    }
}

@media (min-width: 1480px) {
    .tab {
        padding-top: 92px;

        &:nth-child(1) {
            background-image: url("../img/town2.jpg");
            background-position: 212px 42px;
            background-size: 300px, 350px;
        }

        &:nth-child(2) {
            background-image: url("../img/tap.png"), url("../img/scale.png");
            background-position: 280px 380px, 80px 180px;
            background-size: 300px, 350px;
        }

        &:nth-child(3) {
            background-position: 95px 116px;
        }

        &__features-list {
            margin-left: 50%;
            max-width: 50%;
        }

        &__features-item {
            margin-bottom: 43px;
        }

        &__item-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 16px;
        }

        &__item-description {
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
        }
    }
}