.tabs {
    width: 100%;
    overflow: hidden;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 100vw;
        height: 1px;
        background-color: #c4c4c4;
        top: 0;
        left: calc(-100vw / 2 + 50%);
    }

    &::after {
        position: absolute;
        content: "";
        width: 100vw;
        height: 1px;
        background-color: #c4c4c4;
        top: 100%;
        left: calc(-100vw / 2 + 50%);
    }

    &__menu-button {
        display: none;
    }

    &__menu {
        @include list-reset();
        position: relative;

        padding: 23px 0;
        display: flex;
    }

    &__menu-item {
        margin-left: 20px;
        display: block;
        position: relative;

        &:nth-child(1) a.tabs__link--active::after {
            content: "01";
        }

        &:nth-child(2) a.tabs__link--active::after {
            content: "02";
        }

        &:nth-child(3) a.tabs__link--active::after {
            content: "03";
            top: -32px;
        }

        &:last-child a {
            display: block;
            margin-top: 12px;
        }
    }

    &__link {
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        font-size: 16px;
        color: #BDBDBD;
        display: block;
        cursor: pointer;
        width: 100%;

        &::after {
            position: absolute;
            font-family: SF Pro Display, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 72px;
            line-height: 86px;
            color: #fff;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(48, 48, 48, 0.2);
            top: -20px;
            left: -52px;
            text-align: center;
            z-index: -1;
        }

        &--active {
            color: #3029DB;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 8px;
                height: 1px;
                background: #403DE4;
                z-index: 10;
                top: 11px;
                left: -20px;
            }

        }
    }

    &__item {
        display: none;

        &--active {
            display: block;
        }
    }

    &__list {
        @include list-reset;

        width: 100%;
    }
}