.tabs {
    width: 100%;
    overflow: hidden;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 100vw;
        height: 1px;
        background-color: #c4c4c4;
        top: 0;
        left: calc(-100vw / 2 + 50%);
    }

    &::after {
        position: absolute;
        content: "";
        width: 100vw;
        height: 1px;
        background-color: #c4c4c4;
        top: 100%;
        left: calc(-100vw / 2 + 50%);
    }

    &__menu-button {
        display: none;
    }

    &__menu {
        @include list-reset();
        position: relative;

        padding: 23px 0;
        display: flex;


    }

    &__menu-item {
        margin-left: 20px;
        display: block;
    }
}