.tel-block {
    font-family: SF Pro Display, sans-serif;
    margin-bottom: 16px;

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #303030;
        margin: 0;
        margin-bottom: 15px;
    }

    &__label {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #BDBDBD;
    }

    &__link {
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #3029DB;
        padding-left: 23px;
    }

    &__footer {
        display: none;
    }
}