.title {
    font-family: SF Pro Display, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #303030;
    margin: 0;
    
    &--main {
        position: relative;
        text-transform: uppercase;
        width: 340px;
        padding-left: 32px;
        padding-right: 20px;
        margin: 0 auto;
        margin-bottom: 55px;

        & .orange {
            white-space: nowrap;
            display: block;
            margin-left: -35px;
        }
    }

    &__company-name {
        position: absolute;
        text-transform: none;
        top: -20px;
        left: -2px;
        font-family: SF Pro Display, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #BDBDBD;
    }

    &__line {
        display: block;

        &:nth-child(2) {
            padding-left: 35px;
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 1500px) {
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        &--main {
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            width: 560px;
            margin-top: 73px;
            transform: translateX(27px);
            margin-left: 119px;

            & .orange {
                margin-left: -85px;
            }
        }

        &__company-name {
            left: -46px;
            top: 5px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }
}