.welcome-section {
    padding-top: 67px;

    &__wrapper {
        width: 100%;
        position: relative;

        &::before {
            position: absolute;
            content: "Базис-КР";
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: 600;
            font-size: 144px;
            line-height: 172px;
            letter-spacing: -2px;
            text-transform: uppercase;
            color: #fff;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(48, 48, 48, 0.2);
            white-space: nowrap;
            display: block;
            top: -26px;
            left: -10px;
            width: 100%;
            overflow: hidden;
        }
    }

    &__contact-form {
        width: 100%;
        margin: 0;
        padding: 0;
        padding: 0 15px;
    }
}