.welcome-section {
    padding-top: 67px;

    &__wrapper {
        width: 100%;
        background-image: url("../img/bazis-kr.png");
        background-size: 489px 105px;
        background-repeat: no-repeat;
        background-position: 0 8px;
    }

    &__contact-form {
        width: 100%;
        margin: 0;
        padding: 0;
        padding: 0 15px;
    }
}