<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="favicon.svg" />
    <title>Базис-КР</title>
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body id="app">
    <header id="navigation" class="header">
        <div class="header__wrapper">
            <div class="header__logo logo">
                <a href="/" class="logo__link">
                    <picture>
                        <source type="image/webp" srcset="img/Logo1.png 1x, img/Logo1@2x.png 2x">
                        <img src="img/Logo1.png" alt="Bazis-KR logo" srcset="img/Logo1@2x.png 2x" width="138" height="56">
                    </picture>
                </a>
            </div>
            <button class="header__menu-button" @click="toggleMobileMenu" type="button">
                <span class="visually-hidden">Menu</span>
                <svg class="header__menu-icn " :class="{ 'header__menu-icn--hidden':  isMenuOpen }" width="16" height="16">
                    <use xlink:href="img/sprite.svg#icn_Group1"></use>
                </svg>
                <svg class="header__menu-icn" :class="{ 'header__menu-icn--hidden':  !isMenuOpen }" width="24" height="24">
                    <use xlink:href="img/sprite.svg#icn_Frame-1"></use>
                </svg>
            </button>
            <nav class="header__nav nav" :class="{ 'nav--visible':  isMenuOpen }">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#tabs" class="nav__link" @click="toggleMobileMenu">Services</a>
                    </li>
                    <li class="nav__item">
                        <a href="#projects" class="nav__link" @click="toggleMobileMenu">Projects</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link" @click="toggleMobileMenu">About company</a>
                    </li>
                </ul>
                <div class="owner-info">
                    <div class="owner-info__avatar">
                        <picture>
                            <source type="image/webp" srcset="img/Ellipse1.webp 1x, img/Ellipse1@2x.webp 2x">
                            <img src="img/Ellipse1.png" alt="Pavlo Tsidulia" srcset="img/Ellipse1@2x.png 2x" width="56" height="56">
                        </picture>
                    </div>
                    <div class="owner-info__text">
                        <p class="owner-info__name">Pavlo Tsidulia</p>
                        <p class="owner-info__phone">
                            <span class="owner-info__post">Director</span>
                            <a href="tel:+380966185013" class="owner-info__phone-link">
                                <svg class="owner-info__phone-icn" width="16" height="16">
                                    <use xlink:href="img/sprite.svg#icn_Frame-2"></use>
                                </svg>
                                +38 096 618 50 13
                            </a>
                        </p>
                    </div>
                </div>
            </nav>  
        </div>
    </header>
    <main class="main">
        <section class="main__section welcome-section" :class="{ 'main__section--hidden' : isFormPopup }">
            <div class="welcome-section__wrapper">
                <h1 class="welcome-section__title title title--main">
                    <span class="title__company-name">Bazis-KR</span>
                    Development of design documentation
                    <span class="orange">for civil and industrial</span>
                    facilities
                </h1>
                <form action="/submit" @submit.prevent="sendForm" method="POST" class="welcome-section__contact-form contact-form">
                    <p class="contact-form__legend">Need project documentation without headaches?
                        <span class="contact-form__legend-bold">Leave a request</span>
                    </p>
                    <input class="contact-form__input" v-model="clientName" type="text" name="name" id="name" placeholder="Your name">
                    <input class="contact-form__input" v-model="clientPhoneNumber" type="tel" name="tel" id="tel" placeholder="Phone" required>
                    <button class="contact-form__submit-button button-blue" :class="{ 'contact-form__submit-button--success': formHasBeenSent, 'contact-form__submit-button--error': formHasNotBeenSent }" type="submit">{{ !formHasBeenSent && !formHasNotBeenSent ? 'Leave a request' : formHasBeenSent ? 'Successfully sent' : formHasNotBeenSent ? 'Not sent' : '' }}</button>
                    <p class="contact-form__confidence-policy confidence-policy">
                        By clicking the button, you agree <br> with <a href="#" class="confidence-policy__link">Confidence Policy</a>
                    </p>
                </form>
                <span class="welcome-section__arrow">Scroll further</span>
            </div>
        </section>
        <section class="main__section tabs-section" :class="{ 'main__section--hidden' : isFormPopup }">
            <div class="tabs-section__wrapper">
                <h2 class="tabs-section__title title">Turnkey project documentation <br> of any complexity</h2>
                <div class="tabs-section__tabs tabs">
                    <div class="tabs__slide-wrapper">
                        <button class="tabs__menu-button tabs__menu-button--prev">
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="tabs__menu-button tabs__menu-button--next">
                            <span class="visually-hidden">Next</span>
                        </button>
                        <ul class="tabs__menu swiper-wrapper"  id="tabs">
                            <li class="tabs__menu-item swiper-slide">
                                <a class="tabs__link" :class="{ 'tabs__link--active' : isCurrent(0) }"  @click="setCurrent(0)">Urban planning</a>
                            </li>
                            <li class="tabs__menu-item swiper-slide">
                                <a class="tabs__link" :class="{ 'tabs__link--active' : isCurrent(1) }"  @click="setCurrent(1)">Engineering support of buildings <br> and structures</a>
                            </li>
                            <li class="tabs__menu-item swiper-slide">
                                <a class="tabs__link" :class="{ 'tabs__link--active' : isCurrent(2) }"  @click="setCurrent(2)">Safety</a>
                            </li>
                        </ul>
                    </div class="tabs__slide-wrapper">
                    <ul class="tabs__list">
                        <li class="tabs__item tab" :class="{ 'tabs__item--active' : isCurrent(0) }">
                            <h3 class="visually-hidden">Urban planning</h3>
                            <ul class="tab__features-list">
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title">Development of urban planning documentation.</h4>
                                    <p class="tab__item-description">Implementation of projects of master plans of settlements, land management to change the boundaries of a settlement, allotment of land for any purpose (or change it), detailed planning of territories, normative monetary valuation of lands of a settlement and other documents in the field of urban planning according to DBN B.1.1-15 2012 ...</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title"></h4>
                                    <p class="tab__item-description">Development of architectural and construction drawings, reinforced concrete and metal structures of construction objects</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title">Construction supervision.</h4>
                                    <p class="tab__item-description"></p>
                                </li>
                            </ul>
                        </li>
                        <li class="tabs__item tab" :class="{ 'tabs__item--active' : isCurrent(1) }">
                            <h3 class="visually-hidden">Engineering support of buildings and structures</h3>
                            <ul class="tab__features-list">
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title">Internal water supply systems</h4>
                                    <p class="tab__item-description">Design of internal systems of cold and hot water supply, sewerage and drainage</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title">External water supply networks</h4>
                                    <p class="tab__item-description">Design of external water supply networks: utility-drinking, fire-fighting and technical (circulating water supply), pumping stations and water treatment plants</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title">External drainage (sewerage) networks:</h4>
                                    <p class="tab__item-description">Design of external sewerage networks (sewerage systems): household, industrial and storm drains, sewage pumping stations and waste treatment stations</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title">Heating network</h4>
                                    <p class="tab__item-description">Design of heating networks: heat supply of buildings and structures, heating points, boiler houses, heat generators using gas-like and solid fuels</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title">External and internal gas supply systems</h4>
                                    <p class="tab__item-description">Design of external and internal gas supply systems of high, medium and low pressure: external gas supply of settlements (streets, villages) of industrial enterprises, sites, design of natural gas metering units, gas control points (GCP), methods of remote data transmission, design of internal gas supply systems</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title">Electrical systems</h4>
                                    <p class="tab__item-description">Design of electrical systems of buildings and structures, automation (ACS TP, KVP), electric lighting, power electrical equipment, power supply of technological equipment of buildings and structures.</p>
                                </li>
                            </ul>
                        </li>
                        <li class="tabs__item tab" :class="{ 'tabs__item--active' : isCurrent(2) }">
                            <h3 class="visually-hidden">Safety</h3>
                            <ul class="tab__features-list">
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title"></h4>
                                    <p class="tab__item-description">Design of lightning protection of buildings and structures</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title"></h4>
                                    <p class="tab__item-description">Design of fire alarm systems</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title"></h4>
                                    <p class="tab__item-description">Designing measures to protect underground engineering systems from electrochemical corrosion: cathodic protection stations, protective protection.</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title"></h4>
                                    <p class="tab__item-description">Design and Environmental Impact Assessment (EIA).</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title"></h4>
                                    <p class="tab__item-description">Development of an energy passport for buildings</p>
                                </li>
                                <li class="tab__features-item">
                                    <h4 class="tab__item-title"></h4>
                                    <p class="tab__item-description">Identification of high-risk objects</p>
                                </li>
                            </ul>
                        </li>        
                    </ul>
                    <a href="#" class="button-blue button-blue--full" @click="toggleForm">Get the consultation</a>
                </div>
            </div>
        </section>
        <section class="main__section important-section" :class="{ 'main__section--hidden' : isFormPopup }">
            <div class="important-section__wrapper">
                <h2 class="important-section__title title">We understand what's important to you</h2>
                <ul class="important-section__list important">
                    <li class="important__item">
                        <p class="important__text">Adequate price <br> for high quality</p>
                    </li>
                    <li class="important__item">
                        <p class="important__text">Compliance with the terms of preparation of documentation</p>
                    </li>
                    <li class="important__item important__item--three-lines">
                        <p class="important__text">Compliance of design documentation with applicable regulatory documents</p>
                    </li>
                    <li class="important__item important__item--sub">
                        <p class="important__text">Construction supervision</p>
                        <p class="important__subtext">(Control of conformity of construction and installation works with design documentation)</p>
                    </li>
                    <li class="important__item important__item--many-lines">
                        <p class="important__text">Maintenance of project documentation at all stages</p>
                        <p class="important__subtext">(Collection and preparation of initial data, engineering surveys (geology, geodesy), examination of design and estimate documentation)</p>
                    </li>
                </ul>
                <p class="important-section__text">We provide quality services for project documentation. <span class="orange orange--oneline">We have been on the market for over 7 years!</span> Working with us, you will receive a project for any type of construction. Just fill out an application and wait for a call from our consultant. We will make you our best offer!</p>
                <a href="#" class="button-blue button-blue--arrow" @click="toggleForm">Оформить заявку</a>
            </div>
        </section>
        <section class="main__section ready-section" :class="{ 'main__section--hidden' : isFormPopup }">
            <div class="ready-section__wrapper" id="projects">
                <h2 class="ready-section__title title">Finished projects</h2>
                <ul class="ready-section__list">
                    <li class="ready-section__item project">
                        <div class="project__img-container img-container containerOne">
                            <ul class="img-container__list swiper-wrapper">
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/brovary.webp 1x, img/brovary.webp 2x">
                                        <source type="image/webp" srcset="img/brovary-mobile.webp 1x, img/brovary-mobile.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/brovary.webp 1x, img/brovary.webp 2x">
                                        <img src="img/brovary-mobile.jpg" alt="Pd" srcset="img/brovary-mobile.jpg 2x">
                                    </picture>
                                </li>
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/brovary-2.webp 1x, img/brovary-2.webp 2x">
                                        <source type="image/webp" srcset="img/brovary-mobile-2.webp 1x, img/brovary-mobile-2.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/brovary-2.jpeg 1x, img/brovary-2.jpeg 2x">
                                        <img src="img/brovary-mobile-2.jpg" alt="Pd" srcset="img/brovary-mobile-2.jpg 2x">
                                    </picture>
                                </li>
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/brovary-3.webp 1x, img/brovary-3.webp 2x">
                                        <source type="image/webp" srcset="img/brovary-mobile-3.webp 1x, img/brovary-mobile-3.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/brovary-3.jpeg 1x, img/brovary-3.jpeg 2x">
                                        <img src="img/brovary-mobile-3.jpg" alt="Pd" srcset="img/brovary-mobile-3.jpg 2x">
                                    </picture>
                                </li>
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/brovary-4.webp 1x, img/brovary-4.webp 2x">
                                        <source type="image/webp" srcset="img/brovary-mobile-4.webp 1x, img/brovary-mobile-4.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/brovary-4.jpeg 1x, img/brovary-4.jpeg 2x">
                                        <img src="img/brovary-mobile-4.jpg" alt="Pd" srcset="img/brovary-mobile-4.jpg 2x">
                                    </picture>
                                </li>
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/brovary-5.webp 1x, img/brovary-5.webp 2x">
                                        <source type="image/webp" srcset="img/brovary-mobile-5.webp 1x, img/brovary-mobile-5.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/brovary-5.jpeg 1x, img/brovary-5.jpeg 2x">
                                        <img src="img/brovary-mobile-5.jpg" alt="Pd" srcset="img/brovary-mobile-5.jpg 2x">
                                    </picture>
                                </li>
                            </ul>
                            <div class="img-container__pag img-container__pag--one">
                            </div>
                        </div>
                        <h3 class="project__title">Construction of a retail and office building and a garage with built-in utility rooms. Kiev region. Brovary.</h3>
                        <ul class="project__features-list">
                            <li class="project__item">Development and maintenance of project documentation</li>
                            <li class="project__item">Construction supervision</li>
                        </ul>
                    </li>
                    <li class="ready-section__item project">
                        <div class="project__img-container img-container containerTwo">
                            <ul class="img-container__list swiper-wrapper">
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/school.webp 1x, img/school.webp 2x">
                                        <source type="image/webp" srcset="img/school-mobile.webp 1x, img/school-mobile.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/school.jpg 1x, img/school.jpg 2x">
                                        <img src="img/school-mobile.jpg" alt="School ventilation system" srcset="img/school-mobile.jpg 2x">
                                    </picture>
                                </li>
                            </ul>
                            <div class="img-container__pag img-container__pag--two">
                            </div>
                        </div>
                        <h3 class="project__title">Repair of the ventilation system of the facility - the catering unit of the Krivyj Rih city secondary school No. 58</h3>
                        <ul class="project__features-list">
                            <li class="project__item">Development and maintenance of project documentation</li>
                            <li class="project__item">Construction supervision</li>
                        </ul>
                    </li>
                    <li class="ready-section__item project">
                        <div class="project__img-container img-container containerThree">
                            <ul class="img-container__list swiper-wrapper">
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/heating.webp 1x,img/heating.webp  2x">
                                        <source type="image/webp" srcset="img/heating-mobile.webp 1x,img/heating-mobile.webp  2x">

                                        <source media="(min-width: 786px)" srcset="img/heating.jpg 1x, img/heating.jpg 2x">
                                        <img src="img/heating-mobile.jpg" alt="Heating system" srcset="img/heating-mobile.jpg 2x">
                                    </picture>
                                </li>
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/heating-2.webp 1x,img/heating-2.webp  2x">
                                        <source type="image/webp" srcset="img/heating-mobile-2.webp 1x,img/heating-mobile-2.webp  2x">

                                        <source media="(min-width: 786px)" srcset="img/heating-2.jpg 1x, img/heating-2.jpg 2x">
                                        <img src="img/heating-mobile-2.jpg" alt="Heating system" srcset="img/heating-mobile-2.jpg 2x">
                                    </picture>
                                </li>
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/heating-3.webp 1x,img/heating-3.webp  2x">
                                        <source type="image/webp" srcset="img/heating-mobile-3.webp 1x,img/heating-mobile-3.webp  2x">

                                        <source media="(min-width: 786px)" srcset="img/heating-3.jpg 1x, img/heating-3.jpg 2x">
                                        <img src="img/heating-mobile-3.jpg" alt="Heating system" srcset="img/heating-mobile-3.jpg 2x">
                                    </picture>
                                </li>
                            </ul>
                            <div class="img-container__pag img-container__pag--three">
                            </div>
                        </div>
                        <h3 class="project__title">Reconstruction of the heating system with the installation of solid fuel boilers as an alternative source of heat for the central building inv. No. 10310001</h3>
                        <ul class="project__features-list">
                            <li class="project__item">Development and maintenance of project documentation</li>
                            <li class="project__item">Construction supervision</li>
                        </ul>
                    </li>
                    <li class="ready-section__item project">
                        <div class="project__img-container img-container containerFour">
                            <ul class="img-container__list swiper-wrapper">
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/gas.webp 1x, img/gas.webp 2x">
                                        <source type="image/webp" srcset="img/gas-mobile.webp 1x, img/gas-mobile.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/gas.jpg 1x, img/gas.jpg 2x">
                                        <img src="img/gas-mobile.jpg" alt="Gas supply to the boiler room" srcset="img/gas-mobile.jpg 2x">
                                    </picture>
                                </li>
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/gas-1.webp 1x, img/gas-1.webp 2x">
                                        <source type="image/webp" srcset="img/gas-mobile-1.webp 1x, img/gas-mobile-1.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/gas-1.jpg 1x, img/gas-1.jpg 2x">
                                        <img src="img/gas-mobile-1.jpg" alt="Gas supply to the boiler room" srcset="img/gas-mobile-1.jpg 2x">
                                    </picture>
                                </li>
                                <li class="img-container__item swiper-slide">
                                    <picture>
                                        <source media="(min-width: 786px)" type="image/webp" srcset="img/gas-2.webp 1x, img/gas-2.webp 2x">
                                        <source type="image/webp" srcset="img/gas-mobile-2.webp 1x, img/gas-mobile-2.webp 2x">

                                        <source media="(min-width: 786px)" srcset="img/gas-2.jpg 1x, img/gas-2.jpg 2x">
                                        <img src="img/gas-mobile-2.jpg" alt="Gas supply to the boiler room" srcset="img/gas-mobile-2.jpg 2x">
                                    </picture>
                                </li>
                            </ul>
                            <div class="img-container__pag img-container__pag--four">
                            </div>
                        </div>
                        <h3 class="project__title">Gas supply to the boiler house "City Hospital No. 5.", KPTM "Krivorozhteploset"</h3>
                        <ul class="project__features-list">
                            <li class="project__item">Development and maintenance of project documentation</li>
                            <li class="project__item">Construction supervision</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
        <section class="main__section about-section" :class="{ 'main__section--hidden' : isFormPopup }">
            <div class="about-section__wrapper" id="about">
                <h2 class="about-section__title title">About company</h2>
                <p class="about-section__company"><span class="orange">Bazis-KR</span> - 
                    a company of professional engineers who are in love with their work. We have been on the market for over 7 years. From the first day we took the position - <span class = "orange"> not to sell any solutions, just to make money, but to make high-quality projects that we could be proud of.</span></p>
                <div class="about-section__results results">
                    <div class="results__text">
                        <p class="results__paragraph">We adhere to this rule in our work to this day: we make exclusive projects that combine beauty and functionality.</p>
                        <p class="results__paragraph">Perhaps this is not modest, but only a few do projects of the same high quality as we do. And each of our clients, partners or competitors will confirm that meticulousness to each element and diligence are the business card of Bazis-KR.</p>
                        <p class="results__paragraph">Cooperation with us is a simple and effective way to create project documentation of any complexity. The ability to use modern developments in software, create projects in 3D.</p>
                        <p class="results__paragraph">By contacting us, you relieve yourself of all the problems associated with design and approval. We also provide proper support during construction. We accompany the project at all stages in order to avoid surprises in the future.</p> 
                    </div>
                    <ul class="results__list">
                        <li class="results__item">
                            <span class="results__number">256</span> projects    
                        </li>
                        <li class="results__item">
                            <span class="results__number">26</span> workers
                        </li>
                        <li class="results__item">
                            <span class="results__number">211</span> civil projects
                        </li>
                        <li class="results__item">
                            <span class="results__number">45</span> industrial projects
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="main__section reviews-section" :class="{ 'main__section--hidden' : isFormPopup }">
            <div class="reviews-section__wrapper">
                <div class="reviews-section__list-wrapper reviews">
                    <h2 class="reviews-section__title title">
                        They say about us
                    </h2>
                    <div class="reviews__controls">
                        <button class="reviews__button reviews__button--prev"><span class="visually-hidden">Previous</span></button>
                        <button class="reviews__button reviews__button--next"><span class="visually-hidden">Next</span></button>
                    </div>
                    <ul class="reviews__list swiper-wrapper">
                        <li class="reviews__item swiper-slide">
                            <blockquote class="reviews__review">Этого правила придерживаемся в своей работе и по сей день: делаем эксклюзивные проекты, которые сочетают в себе красоту и функциональность. Возможно, это не скромно, но проекты такого же высокого качества, как мы, делают только единицы. И каждый наш клиент, партнер или конкурент подтвердит, что дотошность к каждому элементу и исполнительность - визитная карточка Базис-КР. </blockquote>
                            <cite class="reviews__author">Administration of school No. 58</cite>
                        </li>
                        <li class="reviews__item swiper-slide">
                            <blockquote class="reviews__review">MAKTOP LLC cooperated with BASIS-KR LLC
                                in the performance of works on the development of design documentation (stage
                                "Working project") "Construction of a commercial and office building and garage
                                with built-in living quarters ".
                                As a result, the work was performed professionally and in
                                set deadline.
                                we plan to continue to maintain business contacts with LLC
                                KR ", who always adhere to the loyal and individual
                                approach to the customer.</blockquote>
                            <cite class="reviews__author">M. Zemlyak, Director of MAKTOP LLC</cite>
                        </li>
                        <li class="reviews__item swiper-slide">
                            <blockquote class="reviews__review">Этого правила придерживаемся в своей работе и по сей день: делаем эксклюзивные проекты, которые сочетают в себе красоту и функциональность. Возможно, это не скромно, но проекты такого же высокого качества, как мы, делают только единицы. И каждый наш клиент, партнер или конкурент подтвердит, что дотошность к каждому элементу и исполнительность - визитная карточка Базис-КР. </blockquote>
                            <cite class="reviews__author">Администрация школы №58</cite>
                        </li>
                        <li class="reviews__item swiper-slide">
                            <blockquote class="reviews__review">Этого правила придерживаемся в своей работе и по сей день: делаем эксклюзивные проекты, которые сочетают в себе красоту и функциональность. Возможно, это не скромно, но проекты такого же высокого качества, как мы, делают только единицы. И каждый наш клиент, партнер или конкурент подтвердит, что дотошность к каждому элементу и исполнительность - визитная карточка Базис-КР. </blockquote>
                            <cite class="reviews__author">Администрация школы №58</cite>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="main__popup contact-popup" :class="{ 'contact-popup--shown' : isFormPopup }" >
            <div class="contact-popup__wrapper">
                <h2 class="contact-popup__title title">
                    <span class="title__line">Let us know</span>
                    <span class="title__line">About your project</span>
                    <span class="orange-label orange-label--form">Project documentation</span>
                </h2>
                <div class="contact-popup__tel-block tel-block">
                    <p class="tel-block__title">Contact us</p>
                    <span class="tel-block__label">Phone</span>
                    <a class="tel-block__link" href="tel:380966185013">+38 096 618 50 13</a>
                    <p class="tel-block__footer">Leave a request and our manager will contact you shortly</p>
                </div>
                <form action="/submit" @submit.prevent="sendForm" method="POST" class="contact-popup__contact-form contact-form">
                    <p class="contact-form__legend contact-form__legend--form-page">Need project documentation without headaches?
                        <span class="contact-form__legend">Leave a request</span>
                    </p>
                    <input class="contact-form__input" v-model="clientName" type="text" name="name" id="full-form-name" placeholder="Your name">
                    <input class="contact-form__input" v-model="clientPhoneNumber" type="tel" name="tel" id="full-form-tel" placeholder="Phone" required>
                    <input class="contact-form__input" v-model="clientEmail" type="email" name="email" id="full-form-email" placeholder="E-mail">
                    <textarea class="contact-form__input" v-model="clientMessage" name="message" id="full-form-message" cols="25" rows="1" placeholder="Your message"></textarea>
                    <button class="contact-form__submit-button button-blue" :class="{ 'contact-form__submit-button--success': formHasBeenSent, 'contact-form__submit-button--error': formHasNotBeenSent }" type="submit">{{ !formHasBeenSent && !formHasNotBeenSent ? 'Leave a request' : formHasBeenSent ? 'Successfully sent' : formHasNotBeenSent ? 'Not sent' : '' }}</button>
                    <p class="contact-form__confidence-policy confidence-policy">
                        By clicking the button, you agree to the <a href="#" class="confidence-policy__link"> Privacy Policy </a>
                    </p>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__logo">
            <span class="orange-label">Project documentation</span>
            <p class="footer__logo-text">Bazis-KR</p>
        </div>
        <div class="footer__contacts">
            <div class="owner-info owner-info--no-border">
                <div class="owner-info__avatar">
                    <picture>
                        <source type="image/webp" srcset="img/Ellipse1.webp 1x, img/Ellipse1@2x.webp 2x">
                        <img src="img/Ellipse1.png" alt="Pavlo Tsidulia" srcset="img/Ellipse1@2x.png 2x" width="56" height="56">
                    </picture>
                </div>
                <div class="owner-info__text">
                    <p class="owner-info__name">Pavlo Tsidulia</p>
                    <p class="owner-info__phone">
                        <span class="owner-info__post">Director</span>
                        <a href="tel:+380966185013" class="owner-info__phone">
                            <svg class="owner-info__phone-icn" width="16" height="16">
                                <use xlink:href="img/sprite.svg#icn_Frame3"></use>
                            </svg>
                            +38 096 618 50 13
                        </a>
                    </p>
                </div>
                <button class="owner-info__submit-button button-blue" type="button" @click="toggleForm" >{{ !isFormPopup ? 'Leave a request' : 'Back to main' }}</button>
                <p class="owner-info__confidence-policy confidence-policy">
                    <a href="#" class="confidence-policy__link">Privacy Policy</a>
                </p>
            </div>
        </div>
    </footer>
    <script src="js/script.min.js"></script>
</body>
</html>